body {
    background: url("./../../assets/homepage.png")50% 0 no-repeat fixed;
    background-size:cover; 
  }

  .hello {
position: relative;
top: 380px;
  }
  .nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }