.footer {
    display: flex;
    justify-content: center;
    flex-wrap: initial;
}
button:hover {
    opacity: 75%;
    color: black;
    border: currentColor 0.125rem solid;
    padding: 0.25em 1em;
    border-radius: 00.25em;
}